@charset "utf-8";
@use "../foundation"as *;

/* -------------------------------------------*/
html {
  font-size: 62.5%;

  @include mq(xxl, max) {
    font-size: 56%;
  }

  @include mq(xl, max) {
    font-size: 46%;
  }

  @include mq(lg, max) {
    font-size: 52%;
  }

  @include mq(md, max) {
    font-size: 62.5%;
  }
}