@charset "UTF-8";
/* -------------------------------------------*/ /* -------------------------------------------*/
/* -------------------------------------------*/
:root {
  --content_width: 1030px;
  --content_width-xs: 780px;
  --content_width-sm: 830px;
  --content_width-md: 930px;
  --cta_width: 800px;
  --content-both_space: 15px;
  --header_height: 100px;
}
@media not all and (max-width: 1780px) {
  :root {
    --content_width: 1230px;
    --content_width-xs: 980px;
    --content_width-sm: 1030px;
    --cta_width: 1030px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --content_width: 800px;
    --header_height: 67px;
  }
}
@media screen and (max-width: 667px) {
  :root {
    --content_width: 650px;
    --content-both_space: 15px;
  }
}

/* -------------------------------------------*/ /* -------------------------------------------*/ /* -------------------------------------------*/
/* -------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------*/
@media all and (-ms-high-contrast: none) {
  html,
body {
    display: none;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  letter-spacing: 0;
  color: #323232;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

section {
  position: relative;
  width: 100%;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

picture {
  display: block;
  line-height: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

input,
button,
select,
optgroup,
textarea {
  vertical-align: middle;
  position: relative;
  border: none;
  border: none;
  margin: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  border-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

@media not all and (max-width: 667px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
/* -------------------------------------------*/
/*underline*/
/*arrow-fade*/
@keyframes arrow-fade {
  0% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(15px);
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* fade */
.js-fade__view {
  display: block;
  opacity: 0;
  transform: translateY(50px);
  transition: 800ms;
}
.js-fade__view--delay1 {
  transition-delay: 100ms;
}
.js-fade__view--delay2 {
  transition-delay: 300ms;
}

.is-fade__view.js-fade__view {
  opacity: 1;
  transform: translateY(0);
}

.js-fade__down {
  opacity: 0;
  transform: translateY(-50px);
  transition: 800ms;
}
.js-fade__down--delay1 {
  transition-delay: 100ms;
}
.js-fade__down--delay2 {
  transition-delay: 300ms;
}

.is-fade__down.js-fade__down {
  opacity: 1;
  transform: translateY(0);
}

/* layout
-------------------------------------------------------*/
/**
 * input
 *
 */
input[type=text],
input[type=date],
input[type=password],
input[type=email],
input[type=time],
input[type=tel],
input[type=number] {
  position: relative;
  border: none;
  border: none;
  width: 100%;
  padding: 15px 0;
  border: none;
  line-height: 1;
}
@media screen and (max-width: 667px) {
  input[type=text],
input[type=date],
input[type=password],
input[type=email],
input[type=time],
input[type=tel],
input[type=number] {
    padding: 10px 0;
  }
}

input[type=number] {
  -moz-appearance: textfield;
}

:focus {
  outline: none;
}

::placeholder {
  color: #9fa0a0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input.elem-short {
  width: 7rem;
}
@media screen and (max-width: 667px) {
  input.elem-short {
    width: 5rem;
  }
}

.elem-full .wpcf7-form-control-wrap {
  width: 100%;
}

/**
 * textarea
 *
 */
textarea {
  position: relative;
  border: none;
  border: none;
  width: 100%;
  height: 140px;
  padding: 0;
  border-radius: 5px;
}

input[type=text]:disabled {
  background: transparent;
  cursor: not-allowed;
}
input[type=text]:disabled::placeholder {
  color: #fff4df;
  opacity: 1;
}

/**
 * radio
 *
 */
input[type=radio] {
  display: none;
  vertical-align: middle;
}

.mw_wp_form .horizontal-item + .horizontal-item {
  margin-left: 0;
}

input[type=radio] + .mwform-radio-field-text {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 10px 10px 10px 40px;
  transition: 0.5;
  transition-property: color;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  input[type=radio] + .mwform-radio-field-text {
    margin: 0 15px 0 0;
    padding: 10px 5px 12px 30px;
  }
}

input[type=radio] + .mwform-radio-field-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 1px solid #7f7f7f;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.5s ease;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  input[type=radio] + .mwform-radio-field-text::before {
    width: 20px;
    height: 20px;
  }
}

input[type=radio] + .mwform-radio-field-text::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 13px;
  -webkit-transform: translate(-100%);
  transform: translate(-50%, -50%);
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ec6051;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
  z-index: 5;
}
@media screen and (max-width: 1000px) {
  input[type=radio] + .mwform-radio-field-text::after {
    content: "";
    left: 10px;
    width: 12px;
    height: 12px;
  }
}

input[type=radio]:checked + .mwform-radio-field-text::after {
  opacity: 1;
}

/**
 * checkbox
 *
 */
input[type=checkbox] {
  display: none;
  vertical-align: middle;
}

input[type=checkbox] + .mwform-checkbox-field-text {
  position: relative;
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 1.5rem;
  line-height: 1;
  transition: 0.5;
  transition-property: color;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  input[type=checkbox] + .mwform-checkbox-field-text {
    padding-left: 30px;
    font-size: 1.4rem;
  }
}

input[type=checkbox] + .mwform-checkbox-field-text::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  background: #fff;
  border: 0.5px #323232 solid;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 2;
}

input[type=checkbox] + .mwform-checkbox-field-text::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 5px;
  border-left: 3px solid #ec6051;
  border-bottom: 3px solid #ec6051;
  transform: rotate(-45deg);
  transition: 0.5s;
  transition-property: color;
  opacity: 0;
  z-index: 3;
}
@media screen and (max-width: 1000px) {
  input[type=checkbox] + .mwform-checkbox-field-text::after {
    top: 3px;
  }
}

input[type=checkbox]:checked + .mwform-checkbox-field-text::after {
  opacity: 1;
}

/**
 * tel(column)
 *
 */
.mwform-tel-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.mwform-tel-field > input {
  flex: 1;
  width: 100% !important;
}

/**
 * select
 *
 */
.select-parts {
  position: relative;
  width: 100%;
  border: 1px #fff4df solid;
  border-radius: 5px;
  overflow: hidden;
}
.select-parts::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 10px;
  margin-top: 2px;
  background: url(../img/contact/select_arrow.png) no-repeat top center/contain;
  pointer-events: none;
  z-index: 5;
}
.select-parts select {
  position: relative;
  width: 100%;
  height: 45px;
  padding: 0 20px 0 15px;
  background: #fbefe3;
  color: #7f7f7f;
  font-size: 2rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .select-parts select {
    font-size: rem(15px);
  }
}

/**
 * file
 *
 */
input[type=file] + label {
  width: 160px;
  margin: 0 10px 0 0;
  padding: 15px 0;
}
input[type=file] + label:after {
  left: 170px;
}

/* -------------------------------------------*/
.u-db {
  display: block;
}

.u-dn {
  display: none;
}

@media screen and (max-width: 1000px) {
  .u-pc {
    display: none;
  }
}

@media screen and (max-width: 667px) {
  .u-pt {
    display: none !important;
  }
}

@media not all and (max-width: 1000px) {
  .u-st {
    display: none !important;
  }
}

@media not all and (max-width: 667px) {
  .u-sp {
    display: none !important;
  }
}

.u-mask--c-black {
  filter: brightness(0);
}

.u-mask--c-white {
  filter: brightness(0) invert(1);
}

.u-con--md {
  max-width: var(--content_width);
  margin: 0 auto;
  padding: 0 var(--content-both_space);
}

.u-con--lg {
  max-width: 90%;
  margin: 0 auto;
}

.u-c-white {
  color: #fff;
}

.u-c--b-white {
  color: #fff;
}

.u-z-1 {
  z-index: -1;
}

.u-z1 {
  z-index: 1;
}

.u-z2 {
  z-index: 2;
}

.u-z3 {
  z-index: 3;
}

.u-z10 {
  z-index: 10;
}

.u-z50 {
  z-index: 50;
}

.u-z100 {
  z-index: 100;
}

.u-z999 {
  z-index: 999;
}

.hyphen {
  position: relative;
  top: -0.08em;
}

/* -------------------------------------------*/

/*# sourceMappingURL=style.css.map */
